.couch-potato{
position: relative;
    margin-top: 200px;
    margin-left: 500px;

}


.couch-potato img{
    position: absolute;
}

.couch-potato,
.couch-potato img:not(.cannon) {
    transform: scale(0.5);

}

.patch{
top: 103px;
left: 192px;

}

.cannon {
    position: absolute;
    left: 156px;
    top: 380px;
    transform-origin: 100% 100%;
    transform: scale(0.5) rotate(-34deg);

}

.controlers {
    padding: 10px;
    background: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 650px;
    left: 1000px;
    height: 140px;
    width: 100px;
    border-radius: 20%;
}

.controlers button {
    font-size: 1.7rem;
    border-radius: 20%;
}

.fire {
    color: firebrick;
    text-transform: uppercase;
}

.ball {
    height: 5px;
    width: 60px;
    position: absolute;
    left: 600px;
    top: 515px;
    z-index: -500;
    transform-origin: 100% 100%;
}