.couch-potato{
position: relative;
    margin-top: 200px;
    margin-left: 500px;

}


.couch-potato img{
    position: absolute;
}

.couch-potato,
.couch-potato img:not(.cannon) {
    transform: scale(0.5);

}

.patch{
top: 103px;
left: 192px;

}

.cannon {
    position: absolute;
    left: 164px;
    top: 430px;
    transform-origin: 100% 50%;
    transform: scale(0.5) rotate(-34deg);
    /*z-index: 400;*/
    /*border: 1px solid black;*/
    /*border-radius: 50%;*/

}

.controlers {
    padding: 10px;
    background: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 650px;
    left: 1000px;
    height: 140px;
    width: 100px;
    border-radius: 20%;
    box-shadow: grey 20px 10px 10px;
}

.controlers button {
    font-size: 1.7rem;
    border-radius: 20%;
}

.fire {
    color: firebrick;
    text-transform: uppercase;
}

.ball {
    height: 5px;
    width: 60px;
    position: absolute;
    left: 595px;
    top: 525px;
    /*z-index: 500;*/
    z-index: -500;
    transform-origin: 100% 50%;
}


.tv {
    position: relative;
    top: 291px;
    left: 50px;
    height: 100px;
    width: 120px;
    display: inline-block;
    z-index: -600;
}


.tv-img {
    transform: scale(0.5);
    position: absolute;
    top: -221px;
    left: -259px;

}

.yoram {
    position: absolute;
    transform: scale(0.21) rotate(-8deg);
    top:-187px;
    left:-128px;
    z-index: 700;
    visibility: hidden;
}