.couch-potato{
position: relative;
    margin-top: 200px;
    margin-left: 500px;

}


.couch-potato img{
    position: absolute;
}

.couch-potato,
.couch-potato img:not(.cannon) {
    transform: scale(0.5);

}

.patch{
top: 103px;
left: 192px;

}

.cannon {
    left: 151px;
    top: 387px;
    transform-origin: 100% 100%;
    transform: scale(0.5) rotate(0deg);

}